.IssueCommentList {
  display: flex;
  flex-direction: column;
  gap: var(--space3);
}

.IssueCommentList-title {
  font-size: 20px;
  font-weight: bold;
}

.IssueCommentList-comments {
  display: flex;
  flex-direction: column;
  gap: var(--space3);
}

.IssueCommentList-loadMore {
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  align-self: center;
  color: var(--primary-color);
}

.IssueCommentList-loading {
  font-size: 18px;
  font-weight: bold;
  align-self: center;
  color: var(--primary-color);
}