.IssueCommentListItem {
  display: flex;
  flex-direction: column;
}

.IssueCommentListItem-detail {
  display: flex;
  gap: var(--space2);
  border: 1px solid var(--secondary-color);
  border-bottom: none;
  padding: var(--space2);
  font-weight: bold;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.IssueCommentListItem-comment {
  white-space: pre-wrap;
  font-family: monospace;
  padding: var(--space2);
  border: 1px solid var(--secondary-color);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  word-break: break-word;
}