.IssueCommentItem {
  display: flex;
  flex-direction: column;
}

.IssueCommentItem-detail {
  display: flex;
  gap: var(--space1);
}

.IssueCommentItem-comment {
  white-space: pre-wrap;
  font-family: monospace;
}