.IssuesPage {
  margin: var(--page-margin);
  padding: var(--page-padding);
  max-width: var(--page-width);
  background-color: var(--page-background);
  min-height: var(--page-min-height);
  display: flex;
  flex-direction: column;
  gap: var(--space2);
}

.IssuesPage-content {
  display: flex;
  flex-direction: column;
  gap: var(--space2);
  flex: 1;
  padding: 0 var(--space1);
}

.IssuesPage-issues {
  display: flex;
  flex-direction: column;
  gap: var(--space1);
}

.IssuesPage-issue {
  border-bottom: var(--secondary-color) 1px solid;
  padding: 0 0 var(--space1) 0;
}

.IssuesPage-issue:last-of-type {
  border: none;
  padding: 0;
}

.IssuesPage-fetchMore {
  cursor: pointer;
}

.IssuesPage-totalCount {
  align-self: flex-end;
}

.IssuesPage-filters {
  display: flex;
  justify-content: space-between;
}