.IssueItem {
  color: #222;
}

.IssueItem-titleAndState {
  display: flex;
  gap: var(--space1);
  align-items: center;
}

.IssueItem-title {
  font-size: 16px;
}

.IssueItem-state {
  padding: 4px;
  border-radius: 3px;
  background-color: red;
  color: #f2f2f2;
  font-size: 12px;
  line-height: 14px;
}

.IssueItem-state--closed {
  background-color: #2da44e;
}

.IssueItem-state--open {
  background-color: #d4c5f9;
}

.IssueItem-detail {
  display: flex;
  gap: var(--space1);
  font-size: 12px;
}

.IssueItem-body {
  margin: var(--space1) 0 0 0;
  white-space: pre-wrap;
}
