.FiltersBar {
  display: flex;
  gap: var(--space2);
  flex-direction: column;
}

@media (min-width: 1024px) {
  .FiltersBar {
    flex-direction: row;
  }
}

.FiltersBar-state {
  padding: var(--space1) var(--space2);
  outline: none;
}

.FiltersBar-search {
  padding: var(--space1) var(--space2);
  outline: none;
}

.FiltersBar-searchButton {
  padding: var(--space1) var(--space2);
}
