.AboutPage {
  margin: var(--page-margin);
  padding: var(--page-padding);
  max-width: var(--page-width);
  background-color: var(--page-background);
  min-height: var(--page-min-height);
  display: flex;
  flex-direction: column;
  gap: var(--space2);
}

.AboutPage-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center ;
  gap: var(--space2);
  flex: 1;
  text-align: center;
}

.AboutPage-description {
  font-size: 24px;
}