.ErrorBoundary {
  margin: var(--page-margin);
  padding: var(--page-padding);
  max-width: var(--page-width);
  background-color: var(--page-background);
  min-height: var(--page-min-height);
  display: flex;
  flex-direction: column;
  gap: var(--space2);
  align-items: center;
}

.ErrorBoundary-title {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  background: var(--primary-color);
  padding: var(--space1) var(--space2);
  border-radius: 5px;
  margin: 30px 0 0 0;
}

@media (min-width: 1024px) {
  .ErrorBoundary-title {
    font-size: 32px;
    white-space: nowrap;
  }
}

.ErrorBoundary-description {
  font-size: 40px;
  margin: 90px 0 0 0;
  text-align: center;
}
