.IssueListItem {
  color: #222;
  padding: var(--space2) 0;
  display: flex;
  flex-direction: column;
  gap: var(--space1);
}

.IssueListItem-titleAndState {
  display: flex;
  gap: var(--space2);
  align-items: center;
}

.IssueListItem-title {
  font-size: 18px;
}

.IssueListItem-detail {
  display: flex;
  gap: var(--space3);
  font-size: 12px;
}
