.IssuesItem {
  display: flex;
  flex-direction: column;
  color: #222;
}

.IssuesItem-titleAndState {
  display: flex;
  gap: var(--space1);
  align-items: center;
}

.IssuesItem-title {
  font-size: 16px;
}

.IssuesItem-state {
  padding: 4px;
  border-radius: 3px;
  background-color: red;
  color: #f2f2f2;
  font-size: 12px;
  line-height: 14px;
}

.IssuesItem-state--closed {
  background-color: #2da44e;
}

.IssuesItem-state--open {
  background-color: #d4c5f9;
}

.IssuesItem-detail {
  display: flex;
  gap: var(--space1);
  font-size: 12px;
}
