.IssuesItem {
  color: #222;
}

.IssuesItem-titleAndState {
  display: flex;
  gap: var(--space1);
  align-items: center;
}

.IssuesItem-title {
  font-size: 16px;
}

.IssuesItem-detail {
  display: flex;
  gap: var(--space1);
  font-size: 12px;
}
